body {
    font-family: sans-serif;
    background-image: url("/static/images/wood.jpg");
    background-size: cover;
    background-position: center;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.nav-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: #3e8e41;
}


.form-card {
    max-width: 800px; /* Ограничиваем максимальную ширину блока */
    margin: auto;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}
.item-input {
    width: 40%;
    display: inline-block;
    margin-left: 2.35cm; /* Отступ слева на 1 см */
}

.form-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-row {
    margin-bottom: 1rem;
}


/* Цвет кнопки "Добавить блюдо" меняется на серый */
.add-item-btn {
    background-color: #888; /* Серый цвет */
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Небольшая тень для объема */
}

/* Ховер эффект для кнопки */
.add-item-btn:hover {
    background-color: #666; /* Немного темнеет при наведении */
}

/* Перекрашиваем крестик удаления строки */
.remove-item-btn {
    background-color: #ff5555 !important; /* Более блеклый красный */
    color: white;
    border: none;
    border-radius: 100%; /* Круглая кнопка */
    padding: 6px 10px; /* Немного уменьшаем размер */
    cursor: pointer;
    font-weight: bold;
    line-height: 1;
}

.item-input {
    width: 40%;
    display: inline-block;
    border-radius: 5px; /* Закругление углов для всех полей */
}

/* При наведении делаем кнопку крестика немного темнее */
.remove-item-btn:hover {
    background-color: #b64848 !important; /* Темнеем при наведении */
}

@media (max-width: 600px) {
    .nav-button {
        padding: 10px 20px;
        font-size: 14px;
    }
}

main {
    padding: 20px;
}



#search-section {
    margin-bottom: 20px;
    text-align: center;
}

#search-input {
    padding: 10px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    background-color: #74c873;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


#orders-section {
    margin-top: 20px;
}

#orders-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.order-card {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.order-card h3 {
    margin-top: 0;
}

.order-card p {
    margin-bottom: 5px;
}

.order-actions {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}

.order-actions button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}

.edit-button {
    background-color: #f39c12;
}

.delete-button {
    background-color: #643631;
}

.status-select {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}


@media (max-width: 600px) {
    #search-input {
        width: 80%;
    }

    .nav-button {
        padding: 10px 20px;
        font-size: 14px;
    }
}


